<div class="container text-center">
    <div class="row">
        <div class="col">
            <img class="img-thumbnail " src="{{ToyShop.image}}" width="350" height="350">
            <table class="table table-bordered text-center mt-4">
                <tr>
                    <th colspan="2" class="text text-bg-success">Toy Details</th>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>{{ToyShop.name}}</th>
                </tr>
                <tr>
                    <th>Type</th>
                    <th>{{ToyShop.type}}</th>
                </tr>
                <tr>
                    <th>Code</th>
                    <th>{{ToyShop.code}}</th>
                </tr>
                <tr>
                    <th>Price</th>
                    <th>{{ToyShop.price}}</th>
                </tr>
            </table>
        </div>
    </div>
</div>