<h1 class="text-primary">Welcome to ATN-ToyShop</h1> </br>

<form action="ToyShop/search" method="post">
    <div class="form-group">
        <input type="search" name="name" placeholder="Search">
        <button class="btn btn-info" type="submit">
            <i class="glyphicon glyphicon-search"></i>
        </button>
        <a class="btn btn-primary" href="/ToyShop/add">Add</a>
        <a class="btn btn-success" href="/ToyShop/drop"
            onclick="return confirm('Are you sure to drop all student ?');">Drop</a>

    </div>
</form>
</br>
<table class="table table-bordered bg-light p-4 mt-5 mb-3 text-center">
    <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Price</th>
        <th class="text-center">Image</th>
        <th class="text-center">Menu</th>
    </tr>
    {{#each ToyShop }}
    <tr>
        <td>{{name}}</td>
        <td>${{price}}</td>
        <td>
            <a href="ToyShop/detail/{{_id}}">
                <img src="{{image}}" width="150" height="150">
            </a>
        </td>
        <td>
            <a class="btn btn-warning" href="ToyShop/edit/{{_id}}">EDIT</a>
            <a class="btn btn-danger" href="ToyShop/delete/{{_id}}"
                onclick="return confirm('Are you sure to drop all student ?');">DELETE</a>
        </td>
    </tr>
    {{/each}}
</table>